<h1>Vote List</h1>
<button (click)="undo()">Undo</button>
<h3>Votes</h3>
<table>
  <tr>
    <th>Item</th><th colspan="2">Votes</th><th>Actions</th>
  </tr>
  <tr *ngFor="let item of items">
    <td>{{item.name}}</td>
    <td>{{item.votes}}</td>
    <td><span class="bar" [style.width.px]="item.votes * 10"></span></td>
    <td>
      <button (click)="upvote(item.name)">Vote Up</button>
      <button (click)="downvote(item.name)">Vote Down</button>
      <button (click)="remove(item.name)">Remove</button>
    </td>
  </tr>
</table>
<h3>New Item</h3>
<form (submit)="add()">
  <p>
    <label for="newName">New Item Name:</label>
    <input id="newName" name="newName" [(ngModel)]="newName" />
  </p>
  <p>
    <button type="submit">Add Item</button>
  </p>
</form>